[github.com]
TOKEN = YOUR_TOKEN_HERE

[google_analytics]
SERVICEACCEMAIL = YOUR_EMAIL_HERE
KEYFILELOCATION = YOUR_FILE_HERE

[google_analytics_properties]
1 = YOUR_PROPERTY_NAME_HERE
2 = YOUR_PROPERTY_NAME_HERE
3 = YOUR_PROPERTY_NAME_HERE
4 = YOUR_PROPERTY_NAME_HERE

[mixpanel]
APIKEY = YOUR_KEY_HERE
APISECRET = YOUR_SECRET_HERE

[google_spreadsheets]
OAUTH2JSONFILE = YOUR_FILE_HERE
SPREADSHEETKEY = YOUR_SPREADSHEET_KEY_HERE

[google_spreadsheets_worksheets]
1 = YOUR_WORKSHEET_NAME_HERE
2 = YOUR_WORKSHEET_NAME_HERE
3 = YOUR_WORKSHEET_NAME_HERE
4 = YOUR_WORKSHEET_NAME_HERE

[twitter.com]
APIKEY = YOUR_KEY_HERE
APISECRET = YOUR_SECRET_HERE